.heading_text {
    background: #fcf7c7;
    color: #456927;
    text-align: center;
    font-size: 100px;
    margin: 0;
    line-height: 1.75;
    font-weight: 200;
}
.heading_text sup {
    font-size: 20px;
    vertical-align: super
}

.heading_text b {
    font-size: 40px;
    font-weight: bold;
}

.heading_text span {
    line-height: 1;
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    padding-top: 10px;
}

@media only screen and (max-width: 1100px) {
    .heading_text {
        font-size: 80px;
    }
}

@media only screen and (max-width: 920px) {
    .heading_text {
        font-size: 60px;
    }

    .heading_text sup {
        font-size: 14px;
    }
    
    .heading_text b {
        font-size: 28px;
    }
}

@media only screen and (max-width: 680px) {
    .heading_text {
        font-size: 40px;
    }

    .heading_text sup {
        font-size: 10px;
    }
    
    .heading_text b {
        font-size: 18px;
    }
}

@media only screen and (max-width: 450px) {
    .heading_text {
        font-size: 28px;
    }

    .heading_text sup {
        font-size: 10px;
    }
    
    .heading_text b {
        font-size: 18px;
    }
}

@media only screen and (max-width: 350px) {
    .heading_text {
        font-size: 28px;
    }

    .heading_text sup {
        font-size: 8px;
    }
    
    .heading_text b {
        font-size: 14px;
    }
}